<h2>Guides & Tips</h2>
<p>Proper use and routine maintenance are essential for Operator Safety and Equipment Integrity.</p>
 
<p>
<ul>Know the output of your equipments’ pump. Remember that thrust is a factor of pressure and flow, with flow being the more important variable. Order nozzles that are calibrated to your machines actual output.</ul>
<ul>Worn nozzles or orifices are your enemy. A worn out nozzle will not produce the correct pressure. Check nozzles often for wear.</ul>
<ul>Keep the strainer on your unit clean! Watch your water supply. Check tanks for debris. Pump suction is where most of sewer jetter problems occur.</ul>
<ul>Inspect sewer hose for rips, tears or kinks. Repair if necessary.</ul>
<ul>Use a leader hose, manhole roller, and hose guide to reduce wear on hose.</ul>
<ul>Use a skid, or extension, when possible to extend life of nozzles and prevent them from turning into service laterals. Always use a skid on short nozzles.</ul>
<ul>To avoid burying the sewer hose in lines with large amounts of sand or other debris, clean the line in short runs, 25' to 50' depending on amount of debris.</ul>
<ul>Jet upstream against the flow to clean back to the machine with the flow. This will enhance the flushing action.</ul>
<ul>Sometimes the quickest way to clean a line is to use a combination of nozzles. For example, an 8" sanitary line is blocked with heavy grease. Start by breaking the blockage up with the Grenade nozzle, and then complete the job by flushing the remainder of material out with a rotating nozzle. In large pipes, often running a nozzle, such as the Ultimate Penetrator, will loosen the debris up and allow a flushing nozzle to pull more debris back faster.</ul>
<ul>When cleaning a line with a root infiltration problem, jet out as much debris as possible before attempting to use the cutter. Use a smaller size blade to start cutting and finish with the correct size saw.</ul>
<ul>When using a protruding tap cutter, slow RPM will cut better than rapid RPM. Let the tool do the work. Maintain a steady flow and RPM. Flush cut and broken pieces out before proceeding.</ul>
<ul>Incorrect repairs may cause serious injury. It is extremely dangerous to test nozzles, root cutters, etc. outside of the sewer pipe.</ul>
<ul>If you have any questions, please do not hesitate to contact the Customer Service Department at 800-633-7696.</ul>
<p>