<h2>Terms & Conditions</h2>
<h3>Shamrock Pipe Tools, Inc.速 Terms and Conditions For Payment</h3>

<h5>Credit</h5>
<p>
<ul>All orders are subject to approval of SHAMROCK PIPE TOOLS, INC.速 credit department prior to shipping.</ul>
<ul>Open credit orders must be for a minimum of $40.</ul>
<ul>Deposits are non-refundable.</ul>
</p>

<h5>Prices and Quotations</h5>
<p>
<ul>All prices are subject to change without notice. Prices on invoice reflect those in effect at time of shipment.</ul>
<ul>All quotations and prices are subject to applicable federal, state, or local taxes. These will be added to invoice.</ul>
<ul>All quotations are valid for 30 days.</ul>
<ul>Special prices are available on quantity lot orders.</ul>
</p>

<h5>Payments on Account</h5>
<p>
<ul>Payment terms are Net 30 days for open account shipments. An approved credit application, signed by the principals/officers, should be on file.</ul>
<ul>Shipment will be limited to a C.O.D. basis for all customers abusing open account terms.</ul>
<ul>Credit will be withheld on all open accounts with an unpaid balance after 45 days. Subsequent shipments will be made on a C.O.D. basis until Hold on Credit is removed.</ul>
<ul>Credit will be withheld on all open accounts with an unpaid balance after 60 days. Subsequent shipments will be made on a C.O.D. basis. The C.O.D. charge will include appropriate finance charges.</ul>
</p>

<h5>Errors, Disputes, Returns</h5>
<p>
<ul>All order errors or shortages must be reported to SHAMROCK PIPE TOOLS, INC.速 within 72 hours.</ul>
<ul>Billing and shipping errors or disputed invoices must be brought to the company's attention within 10 days of invoice date.</ul>
<ul>Returned goods will not be accepted without original invoice number, purchase date, and a SHAMROCK PIPE TOOLS, INC.速 Returned Goods Authorization (RGA) number.</ul>
<ul>All shipments are F.O.B. Baton Rouge, Louisiana, USA</ul>
</p>

<h5>Fees and Charges</h5>
<p>
<ul>Each shipping order subject to a $3 handling fee.</ul>
<ul>A finance charge of 1.5% (18% per annum) will be added to all unpaid invoices after the 30-day net terms.</ul>
<ul>Returned goods are subject to a 15% restocking fee.</ul>
<ul>Special orders are subject to a 25% premium fee.</ul>
<ul>Rush orders placed after 3pm Central Time for same day shipment are subject to a $20 handling fee.</ul>
</p>